@import '../../../styles/mixin';

.main {
  @include justifyCenter;

  .container {
    font-family: 'Poppins', sans-serif;
  }

  .align-center {
    @include alignCenter;
  }

  .column-left {
    margin-top: 60px;
  }

  @media (min-width: 320px) {
    .container {
      width: 90vw;

      .column-left {
        display: block;
      }

      .profile-section {
        display: none;
      }
    }
  }

  @media (min-width: 760px) {
    .container {
      width: 80vw;

      .column-left {
        display: block;
      }
    }
  }

  @media (min-width: 1024px) {
    .container {
      display: flex;
      justify-content: space-between;

      .column-left {
        display: flex;
      }
      .column-right {
        width: 350px;
        margin-left: 36px;
        padding: 24px;
      }
      .profile-section {
        display: flex;
      }
    }
  }
}
