@import '../../../styles/mixin';

.main {
  @include justifyCenter;

  .container {
    font-family: 'Poppins', sans-serif;
  }

  .align-center {
    @include alignCenter;
  }

  .column-left {
    margin-top: 60px;
  }

  @media (min-width: 320px) {
    .container {
      width: 90vw;

      .column-left {
        display: block;
      }

      .profile-section {
        display: none;
      }
    }
  }

  @media (min-width: 760px) {
    .container {
      width: 80vw;
      margin: 0 auto;

      .column-left {
        display: block;
        margin: 60px auto;
      }
      .column-right {
        position: relative;

        span {
          position: fixed;
          width: 320px;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    .container {
      .column-left {
        display: flex;
      }
      .column-right {
        width: 300px;
        margin-left: 36px;
        padding: 24px;
      }
      .profile-section {
        display: flex;
      }
    }
  }
}
