@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin justifyCenter {
  display: flex;
  justify-content: center;
}

@mixin alignCenter {
  display: flex;
  align-items: center;
}

@mixin alignedSpaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin headerText16Px {
  font-size: 16px;
  font-weight: 600;
}

@mixin subtext12Px {
  color: #7e7e7e;
  font-size: 12px;
}
