.close-button {
  margin: 2px 15px;
  padding: 0;
  border: none;
  background-color: rgba(1, 1, 1, 0);
  color: gray;
  font-size: 10px;
  font-weight: 800;

  &:hover {
    color: rgb(176, 20, 20);
    font-weight: 800;
    cursor: pointer;
  }
}
