.comment-box {
  .comment-ul {
    width: 100%;
    height: 150px;
    margin: 0;
    // padding-left: 20px;
    overflow: hidden;
    border-bottom: 1px solid gray;
  }

  .write-comment-box {
    position: relative;
  }

  #upload-btn {
    position: absolute;
    width: 10%;
    height: 40px;
    border: 0;
    border-radius: 5px;
    background-color: white;
    color: rgba(9, 104, 218, 0.3);
    font-size: 15px;
    font-weight: 500;
  }

  #upload-btn:hover {
    color: rgba(9, 104, 218, 1);
    font-weight: 700;
  }

  .input-text {
    width: 90%;
    height: 40px;
    padding: 5px;
    border: 0;
    border-radius: 5px;
  }
  .input-text::placeholder {
    font-size: 15px;
  }

  .comment-ul li {
    margin: 5px 0;
    list-style-type: none;
    font-size: 15px;
  }

  .comment-ul li span {
    position: absolute;
    left: 10px;
    font-weight: bold;
  }

  .comment-ul li i {
    position: absolute;
    right: 10px;
    font-size: 15px;
  }

  // .remove-button {
  //   width: 15px;
  //   height: 15px;
  //   margin-left: 10px;
  //   padding: 0;
  //   border: none;
  //   background-color: rgb(1, 1, 1, 0);
  //   color: gray;
  //   font-size: 10px;
  // }

  // .remove-button:hover {
  //   color: red;
  //   font-size: 15px;
  // }
}
