.comment-item {
  .comment-wrap {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 10px;
  }

  .comment-id {
    width: 75px;
    font-size: 15px;
    font-weight: 600;
  }

  .comment-text {
    flex-grow: 1;
    font-size: 15px;
  }

  .comment-id,
  .comment-text {
    display: flex;
    align-items: center;
  }
}
