@import '../../../../../styles/mixin';

.modal-overlay {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal {
  display: block;
  z-index: 100;

  .modal-box {
    position: absolute;
    width: 200px;
    transform: translateX(-85%) translateY(9.5%);
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }

  .modal-first-section {
    padding: 16px;
  }

  .modal-second-section {
    padding: 16px;
    border-top: 0.5px solid rgb(208, 208, 208);
  }

  .modal-row {
    @include alignCenter;
    padding: 4px 0;

    .icon-profile {
      @include iconSize;
    }
  }

  .icon-saved {
    @include iconSize;
  }

  .icon-settings {
    @include iconSize;
  }

  .modal-text {
    margin-left: 12px;
    font-size: 14px;
  }
}
